extends layout

block content
  h1= title
  table(border='1')
    thread
      tr
        th User
        th Debit
        th Credit
        th Balance
    tbody
      for balance in body
        tr
          td= balance.user
          td= balance.debit
          td= balance.credit
          td= balance.balance
  br
  input(type ="button" onclick="location.href='../../'" value="Back")
