extends layout

block content
  h1= title
  table(border='1')
    thread
      tr
        th Id
        th Payer
        th Amount
        th Purpose
        th Date
        th Payees
    tbody
      for trx in body
        tr
          td= trx.id
          td= trx.payer
          td= trx.amount
          td= trx.purpose
          td= trx.date
          th= trx.payees
  br
  input(type ="button" onclick="location.href='../../'" value="Back")
